.dropdown-button {
    background-color: #DB7093;
    color: white;
    padding: 26px;
    font-size: 26px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-list {
    display: none;
    position: center;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 18px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-list a {
    color: black;
    padding: 52px 56px;
    text-decoration: none;
    display: block;
    font-family: verdana, serif;
}

.dropdown-list a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-list {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: #800000;
}

#wrapper {
    width: 100%;
    margin-top: 0;
}

#header {
    width: 70%;
    margin-top: 0;
    padding: 15px 0 15px 15px;
}

#header h2 {
    width: 100%;
    margin: auto;
    color: black
}

#container {
    width: 100%;
    margin: auto
}

#container h3 {
    color: #000;
}

#container #content {
    margin-top: 20px;
}

.add-button {
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 300px;
    padding: 5px 10px;
    margin-bottom: 15px;
    background: #FFFAF0;
}

table, th, td {
    border: 1px solid black;
}
